@font-face {
  font-family: 'ballons';
  src: url(./fonts/Balloons-3ArL.ttf);

}

@font-face {
  font-family: 'kakeka';
  src: url(./fonts/KakekakeitalicpersonaluseNmi-Rpz16.otf);
}

@font-face {
  font-family: 'font3';
  src: url(./fonts/font3/GeraldinePersonalUseItalic-PK12m.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
